@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .Navi {
  position: relative;
  display: flex;
}

header .Navi li {
  list-style: none;
}

header .Navi li a {
  display: inline-block;
  color: black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  border-radius: 20px;
  padding: 2px 15px;
}

header .Navi li a:hover {
  background: blue;
  color: white;
}

.pembukaan {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pembukaan .tulisan {
  position: relative;
  max-width: 600px;
}

.pembukaan .tulisan h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}


.pembukaan .tulisan p {
  color:#333;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.pembukaan .gambar1 {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.pembukaan .gambar1 img{
  max-width: 340px;
}

.circle {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37306b;
  clip-path: circle(600px at right);
}

.Ourserv {
  padding: 15px 9%;
  padding-bottom: 100px;
}

.Ourserv .baganourserv {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.Ourserv .baganourserv .baganourser {
  box-shadow: 0px 5px 10px #3337;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 5px 5px;
  margin: 15px;
}

.Ourserv .baganourserv .baganourser i {
  font-size: 4em;
  color: blue;
  margin-top: 5px;
}

.Ourserv .baganourserv .baganourser h4 {
  font-size: 2em;
  font-weight: 500;
  margin-top: 20px;
}
.Ourserv .baganourserv .baganourser p {
  font-size: 20px;
  font-weight: 100;
}



@media (max-width:991px){

  .Dolar .do {
    text-align: center;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 400;
  }

  .container  {
    max-width: 100%;
  }

  header {
    padding: 20px;
  }

  header .Navi {
    display: none;
  }

  header .Navi.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffd93d;
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    line-height: 1.5em;
    font-variant: all-petite-caps;
  }

  section {
    padding: 20px 20px 120px;
  }

  .pembukaan {
    flex-direction: column;
    margin-top: 100px;
  }

  .pembukaan .tulisan {
    max-width: 100%;
  }

  .pembukaan .tulisan h2{
    font-size: 2.5em;
    margin-bottom: 15px;
  }

  .pembukaan .gambar1 {
    max-width: 100%;
    justify-content: center;
  }

  .pembukaan .gambar1 img {
    max-width: 250px;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #37306b;
    clip-path: circle(400px at bottom);
  }

  .toggle{
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background:url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
  }

  .toggle.active{
    position: fixed;
    left: 40px;
    background:url(close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

  }


  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }


}


footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
  color: white;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: white;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
  color: white;
}

.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 200%;
  border: none;
  outline: none;
  background: #576CBC;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}

.wrapper{
  display: grid;
  margin: 100px 100px auto;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 100px;
}

.Dolar .do {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .wrapper{
    margin: 100px auto;
  }
}
.wrapper .lox{
  width: 340px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.wrapper .lox .front-face{
  background: #fff;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.lox .front-face .icon{
  height: 80px;
  align-items: center;
  text-align: center;

}
.lox .front-face .icon i{
  font-size: 65px;
  align-items: center;
  text-align: center;
}
.lox .front-face span,
.lox .back-face span{
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.lox .front-face .icon i,
.lox .front-face span{
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lox .back-face{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 300px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}
.lox .back-face p{
  margin-top: 10px;
  text-align: justify;
}
.lox:hover .back-face{
  opacity: 1;
  transform: rotateX(0deg);
}
.lox:hover .front-face{
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}
